.form-container-2 {
  width: 300px;
  background: linear-gradient(45deg, #ffffff 0, #ffffff 100%);
  padding: 30px; margin: 30px;
  color: #000000;
  transition: border-color 0.3s ease;
  display: inline-grid;
  flex-direction: column;
  align-items: center;

}

.form-container:hover {
  border: 2px solid #93b4db; /* Example border color, you can adjust as needed */
}

.logo-container {
  flex: 1;
  text-align: center;
}

